
<div class="row">
    <h3>{{ title }}</h3>

    <div class="col-sm-12 well">
        
        <table style="width:100%">
            <tr ng-repeat="book in books">
                <td>
                    <img style="height:100PX" src="{{ book.ImageUrl }}" />

                    <span ng-bind-html="book.Name | highlight:search.text"></span>

       
                    <button class="btn btn-sm btn-default" ng-click="goToSummary(book)">See Details</button>
                </td>
                <td></td>
                <td>
                    <button class="btn btn-lg btn-warning" ng-click="addToCart(book)">Buy Now:  ${{ book.Price }}</button>
                </td>

            </tr>
        </table>

     
            <br />
            <input type="text" placeholder="Search" ng-model="search.text">

        </div>


    </div>