@{
    ViewBag.Title = "home";
}
@section scripts {
   @Scripts.Render("~/bundles/app-home")
}
@section jsCode {
    angular.bootstrap(document.getElementById("appHome"), ['homeModule']);
}

<div  id="appHome" data-ng-controller="rootViewModel">
    <h2>{{ pageHeading }}</h2>
    <hr />
    <div ng-view></div> 
</div>
